# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WebApiApplication.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\1Education\Тестовые\UDV\WebApiApplication\.idea\.idea.WebApiApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
